.sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 3rem;
    transition: all 300ms ease;
}

.logo {
    display: flex;
    /* height:5rem; */
    font-size: 20px;
    font-weight: bold;
    gap:1rem;
    justify-content: center;
    align-items: center;
    height: 4%;
}

.logo > img {
    width: 3rem;
    height: 3rem;
}

.logo > span > span {
    color:var(--pink)
}

/* menu */
.menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap:2.5rem;
}

.menuItem {
    display: flex;
    align-items: center;
    gap:1rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    height: 2.5rem;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0.7rem;
}

.active {
    background: var(--activeItem);
    margin-left: 0;
}

.active::before {
    content:"";
    width: 8px;
    height: 100%;
    background: var(--pink);
    margin-right: calc(1rem - 8px);
}

.menu .menuItem:last-child {
    position: absolute;
    bottom:2.5rem;
    width: 100%;
}